/*.col-12{
    height: 500px;
}*/
/* #space{
    height:2000px;
    } */

#navbarText1{
    padding-right: 25px;
}
.childcont{
    width:97%;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    border: 1px solid lightgrey;
}
.col-3{
    text-decoration: none;
    padding: 4px;
}
a>i.fa-bars{
   
    float: right;
}
.fa-signal-alt-3{
    color: rgb(35, 35, 114);
    float: left;
}
.dashboard{
    background-color: rgb(248, 229, 229);
}
.lablec{
    color:rgb(35, 35, 114) ;
    border-radius: 10px;
}
.card-img-top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
a{
    text-decoration: none;
}

 #sidebar-container {
     
    background-color: #18385c;
    padding: 0;
    
    
}
#sidebar-container .list-group a {
    background: transparent !important;
    border: 0px;
    padding-right: 0;
}

#sidebar-container .list-group a > div{    
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 0 10px 5px;
    overflow: hidden;
}

a.menu:hover > div, a.menu.active > div {
    background: #fff !important;
    color: #18385c !important;
}

span.badge.badge-pil {
    background: #fff;
    color: #18385c;
    border-radius: 100%;
}

.injury{
    font-size: 12px; 
    padding-left: 5px;
}
.feedback{
    font-size: 11px;
    margin-left: 30px;
}
@media screen and (max-width:1198px) 
{
   .time{
       font-size: 12px;
   }   
   .feedback{
    font-size: 10px;
    margin-left: 30px;
   }
   .injury{
       padding-left: 1px;
       font-size: 10px;
       font-weight: bold;
   }
   .name{
       font-size: 11px;
   }
}
@media screen and (min-width:1198px) 
{
   .time{
       font-size: 15px;
   }   
   .feedback{
    font-size: 11px;
    margin-left: 50px;
   }
   .injury{
       padding-left: 1px;
       font-size: 12px;
       font-weight: bold;
   }
   .name{
       font-size: 14px;
   }
   
}
@media screen and (max-width:970px){
    .feedback{
        font-size: 11px;
        margin-left: 50px;
       }
       .injury{
        padding-left: 1px;
        font-size: 15px;
        font-weight: bold;
    }
    .time{
        font-size: 15px;
    } 
    .name{
        font-size: 15px;
    }
}
@media screen and (min-width:280px) {
    #sidebar-container{
        position: fixed;
        height:48%;
        z-index: 1;
    }
    #nav1{  
        width: 100%;
        margin-top: 97%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 120%;
    }
}

@media screen and (min-width:320px) {
    #sidebar-container{
        position: fixed;
        height:50%;
        z-index: 1;
    }
    #nav1{  
        width: 100%;
        margin-top: 89%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 115%;
    }
}
@media screen and (min-width:375px) {
    #sidebar-container{
        position: fixed;
        height:50%;
        z-index: 1;
    }
    #nav1{  
        width: 100%;
        margin-top: 76%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 96%;
        margin-left: 2%;
    }
} 
@media screen and (min-width:390px) {
    #sidebar-container{
        position: fixed;
        height:40%;
        z-index: 1;
    }
    #nav1{  
        width: 100%;
        margin-top: 76%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 96%;
        margin-left: 2%;
    }
} 
@media screen and (min-width:414px) {
    #sidebar-container{
        position: fixed;
        height:40%;
        z-index: 1;
    }
    #nav1{  
        width: 100%;
        margin-top: 76%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 96%;
        margin-left: 2%;
    }
} 
@media screen and (min-width:425px) {
    #sidebar-container{
        position: fixed;
        height:50%;
        z-index: 1;
    }
    #nav1{
        width:100%;
        margin-top: 66%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 83%;
        margin-left: 2%;
    }
}
@media screen and (min-width:768px) {
    #sidebar-container{
        position: fixed;
        height:55%;
        z-index: 1;
    }
    #nav1{
        width: 100%;
        margin-top: 38%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 48%;
    }
}
@media screen and (min-width:820px) {
    #sidebar-container{
        position: fixed;
        height:30%;
        z-index: 1;
    }
    #nav1{
        width: 100%;
        margin-top: 38%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 48%;
    }
}
@media screen and (min-width:1024px) {
    #sidebar-container{
        position: fixed;
        height:97%;
        z-index: 1;
    }
    #nav1{
        position: fixed;
        margin-left: 17%;
        width:79%;
        z-index: 1;
        background-color: white;
        margin-top: 0%;
    }
    .childcont{
        margin-top: 8%;
        margin-left: 21%;
        width:97%;
    }
}

@media screen and (min-width:1440px) {
    #sidebar-container{
        position: fixed;
        height:97%;
        z-index: 1;
    }
    #nav1{
        position: fixed;
        margin-left: 17%;
        width:80%;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 6%;
        margin-left: 21%;
        width:97%;
    }
}
/* @media only screen and (orientation:landscape) and (min-width:425px) and (max-width:768px){
        #sidebar-container{
            position: fixed;
            height:70%;
            z-index: 1;
        }
        #nav1{  
            width: 100%;
            margin-top: 50%;
            position: fixed;
            z-index: 1;
            width:100%;
            background-color: white;
        }
        .childcont{
            margin-top: 60%;
        }
    } */




/* @media screen and (min-width:600px) {
    #sidebar-container{
        position: fixed;
        height:50%;
        z-index: 1;
    }
    #nav1{
        width: 100%;
        margin-top: 46%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .childcont{
        margin-top: 58%;
    }
}
*/


#lazyload{
    background-color: white;
    transition: background-color 1s, border 1s;
}


